---
const { project } = Astro.props;
---

<article class="flex flex-col md:flex-row bg-white rounded-2xl text-grey-dark">
    <div class="flex justify-center items-center w-full md:w-1/4 h-auto pt-7 md:pt-0">
        <img
            src={project.imageLink}
            alt="Imagen del proyecto"
            class=" rounded-xl w-2/5 md:w-3/5 "
        />
    </div>
    <div class="py-7 pr-7 pl-7 md:pl-0 flex flex-col gap-3 w-full md:w-3/4">
        <div class="flex justify-between">
            <h3 class="text-xl text-grey-dark font-bold">{project.project}</h3>
            <div
                class="text-2xl flex items-center gap-2 justify-center md:w-1/3"
            >
                {
                    project.stackIcons.map((item) => (
                        <span class={`${item} text-grey-dark`} />
                    ))
                }
            </div>
        </div>
        <p class="font-leagueSpartan text-lg leading-5">
            {project.description}
        </p>
        <div class="flex w-full gap-3 items-center text-lg">
            <a href={project.githubLink}>
                <span
                    class="icon-[bi--github] text-grey-dark hover:bg-cyan text-4xl mt-2 w-1/8"
                ></span>
            </a>
            <a
                href={project.linkToApp}
                class="rounded-xl w-full py-2 font-leagueSpartan text-center font-semibold text-white hover:text-grey-dark bg-grey-dark hover:bg-cyan"
                >Ir a la app</a
            >
        </div>
    </div>
</article>
